@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 16px;
}
main {
  width: 450px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  overflow: auto;
}

main .logo-section {
  padding: 1rem;
}

main .logo-section .logo {
  background-color: rgba(102, 106, 246, 255);
  height: 6rem;
  width: 6rem;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

main .logo-section .logo h1 {
  text-align: center;
  padding-top: 1.3rem;
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 200;
}
.main-text h1 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(49, 68, 108, 255);
  margin-bottom: 2rem;
}

main .signup-section {
  width: 60%;
  /* background-color: red; */
}
main .signup-section form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 90%;
}
form .group-control {
  width: 100%;
}
form .group-control label {
  display: block;
  font-size: 0.7rem;
  color: rgba(67, 74, 84, 255);
  font-weight: 500;
}

form .group-control input {
  width: 100%;
  outline: none;
  padding: 6px 1rem;
  font-size: 16px;
  border: 0.3px solid rgba(229, 226, 226, 255);
  margin-top: 0.2rem;
  border-radius: 4px;
}

.btn {
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
}
.btn-primary {
  background-color: rgba(102, 106, 246, 255);
}

main .social-section h5 {
  text-align: center;
  color: rgba(190, 196, 205, 255);
  font-weight: 400;
  margin-bottom: 1rem;
}

main .social-section .social-icons {
  /* display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  margin-bottom: 3rem;
}

main .social-section .social-icons img {
  height: 60px;
  width: 60px;
}

main .login {
  position: absolute;
  bottom: 15px;
}

main .login p {
  color: rgba(190, 196, 205, 255);
  font-size: 13px;
}
main .login p a {
  text-decoration: none;
  font-weight: 500;
  color: rgba(102, 106, 246, 255);
}

@media screen and (max-width: 450px) {
  main {
    width: 90%;
  }
}

header {
  background-color: rgba(102, 106, 246, 255);
  padding: 1.7rem 1.5rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: fixed;
  width: 100%;
}

header .container {
  width: 70%;
  margin: 0 auto;
}

header .container .category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .category h1 {
  color: #fff;
  font-size: 1.5rem;

  margin-left: 50px;
  font-weight: 400;
}
header .container .category img {
  position: absolute;
  right: 30px;
}
section {
  position: absolute;
  margin-top: 130px;
  width: 100%;
  z-index: -1;
}
.main-section {
  width: 90%;
  margin: 0 auto;
}
/* .content {
  position: absolute;
  top: 400px;
  z-index: -1;
  margin-top: 30px;
} */
section .work-section .sutdy .dot-green {
  height: 10px;
  width: 10px;
  background-color: rgba(54, 188, 155, 255);
  border-radius: 50%;
  position: absolute;
  top: 24px;
}
section .work-section .meet .dot-orange {
  height: 10px;
  width: 10px;
  background-color: rgba(244, 134, 60, 255);
  border-radius: 50%;
  position: absolute;
  top: 24px;
}
section .work-section .work .dot-yellow {
  height: 10px;
  width: 10px;
  background-color: rgba(247, 188, 63, 255);
  border-radius: 50%;
  position: absolute;
  top: 24px;
}
section .work-section .home .dot-blue {
  height: 10px;
  width: 10px;
  background-color: rgba(102, 106, 246, 255);
  border-radius: 50%;
  position: absolute;
  top: 24px;
}

.work-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
section .work-section .sutdy {
  background-color: rgba(229, 249, 244, 255);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  position: relative;
}
section .work-section .sutdy .text {
  margin-top: 10px;
  margin-left: 1.4rem;
}
section .work-section .sutdy .text h3 {
  font-size: 1rem;
  font-weight: 600;
}
section .work-section .sutdy .text p {
  font-size: 0.8rem;
  color: rgba(157, 166, 177, 255);
}

section .work-section .meet .text {
  margin-top: 10px;
  margin-left: 1.4rem;
}
section .work-section .meet .text h3 {
  font-size: 1rem;
  font-weight: 600;
}
section .work-section .meet .text p {
  font-size: 0.8rem;
  color: rgba(157, 166, 177, 255);
}

section .work-section .work .text {
  margin-top: 10px;
  margin-left: 1.4rem;
}
section .work-section .work .text h3 {
  font-size: 1rem;
  font-weight: 600;
}
section .work-section .work .text p {
  font-size: 0.8rem;
  color: rgba(157, 166, 177, 255);
}

section .work-section .home .text {
  margin-top: 10px;
  margin-left: 1.4rem;
}
section .work-section .home .text h3 {
  font-size: 1rem;
  font-weight: 600;
}
section .work-section .home .text p {
  font-size: 0.8rem;
  color: rgba(157, 166, 177, 255);
}
section .work-section .meet {
  background-color: rgba(251, 232, 219, 255);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  position: relative;
}
section .work-section .work {
  background-color: rgba(252, 246, 232, 255);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  position: relative;
}
section .work-section .home {
  background-color: rgba(234, 234, 246, 255);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  position: relative;
}

.button-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 2rem;
}

.button-section a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(49, 68, 108, 255);
  width: 100%;
  padding: 2rem 1rem;
  height: 80px;
  position: fixed;
}
.add-section {
  background-color: rgba(102, 106, 246, 255);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-section a {
  margin-top: 2px;
}
footer .bottom-nav {
  width: 90%;
}

.left-links-section {
  position: absolute;
  left: 20px;
  top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  margin-left: 1rem;
}
.right-links-section {
  position: absolute;
  right: 20px;
  top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  margin-left: 1rem;
}

.categories,
.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.calender img {
  margin-left: 0.5rem;
}
.calendar,
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
a {
  text-decoration: none;
}
.categories a {
  font-size: 12px;
  position: absolute;
  bottom: -15px;
  color: #fff;
}
.task a {
  font-size: 12px;
  position: absolute;
  bottom: -15px;
  color: #fff;
}

.calender a {
  font-size: 12px;
  position: absolute;
  bottom: -15px;
  color: #fff;
}

.profile a {
  font-size: 12px;
  position: absolute;
  bottom: -15px;
  color: #fff;
}
